.release_version
^tomcat*
ivy-cache
*~
*.log
*Db.properties
*Db.script
.settings
stacktrace.log
.hg*
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
*/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/plugins
/pom.xml.*
/release.properties
/cloudbees-sdk-1.2.1

# IntelliJ
*.iws
*.iml
*.ipr
.session
.idea
*/.idea/*
